<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <%
        //Getting words from server
        let questionCount = locals.totalQuestions ?? 0;//?? null operator, OR
        let score = locals.totalCorrect ?? 0;
        let randomIndex = parseInt(Math.random()*chosenWords.length);// generate a random number
        let chosenWord = chosenWords[randomIndex];// pick that as our correct word
        let [correctWord, correctPart, correctDef] = chosenWord.split('\t');// break into parts
     %>
     <!--Show the word and part of speech-->
     <% if (questionCount ===0) {%>
            <h1>Welcome to word quiz!</h1>
        <%} else {%>
            <h1>Score: <%= score %> / <%= questionCount%></h1>
        <% } %>
     <h2><%= correctWord %> - <%= correctPart %></h2>
     <form action="quiz" method="post"><!--submits to quiz.js-->
     <ol>
        <% for (currentWord of chosenWords){
            //loop through each word, show its definition only in the list
            let [word, part, def] = currentWord.split('\t'); %>
            <li>
                <label>
                    <input type="radio" name="userChoice" value="<%= def %>">
                    <%= def %>
                </label>
            </li>
        <% } %>
     </ol>
     <input type="submit" value="Submit Answer!">
     <input type="hidden" name="correctDef" value="<%= correctDef %>">
     <input type="hidden" name="totalQuestions" value="<%= questionCount %>">
     <input type="hidden" name="totalCorrect" value="<%= score %>">
     </form>
</body>
</html>