<!DOCTYPE html>
<html lang="en">
<head>
    <title>Word Quiz: Quest Tres!</title>
    
    <!-- This is CSS style Tag -->
    <style>
        .correct { color: green; font-weight: bold;}
        .incorrect { color: red; font-weight: bold;}
    </style>
</head>
<body>
    <%
        //Getting words from server
        let questionCount = locals.totalQuestions ?? 0;//?? null operator, OR
        let score = locals.totalCorrect ?? 0;
        let randomIndex = parseInt(Math.random()*chosenWords.length);// generate a random number
        let chosenWord = chosenWords[randomIndex];// pick that as our correct word
        let [correctWord, correctPart, correctDef] = chosenWord.split('\t');// break into parts
     %>
     <!--Show the word and part of speech-->
     <% if (questionCount === 0) {%>
            <h1>Welcome to word quiz!</h1>
        <%} else {%>
            <h1>Score: <%= score %> / <%= questionCount%></h1>
        <% } %>

        <!-- Added to keep track of #right and # wrong-->
        <h3>
            <span class="correct">Right: <%= score %></span> |
            <span class="incorrect">Wrong: <%= questionCount - score %></span>
        </h3>
    
     <!-- Added for showing correct and incorrect -->   
     <% if (typeof isCorrect !== 'undefined') { %>
        <% if (isCorrect) { %>
            <p><span class="correct">Correct!</span></p>
        <%} else { %>
            <p><span class="incorrect">Incorrect!</span></p>
            <p><span style="font-weight: bold;">The correct definition was:</span> <%= previousDef %></p>    
        <% } %>
     <% } %>

     <h2><%= correctWord %> - <%= correctPart %></h2>
     <form method="post"><!--submits to quiz.js-->
     <ol>
        <% for (currentWord of chosenWords){
            //loop through each word, show its definition only in the list
            let [word, part, def] = currentWord.split('\t'); %>
            <li>
                <label>
                    <input type="radio" name="userChoice" value="<%= def %>" required>
                    <%= def %>
                </label>
            </li>
        <% } %>
     </ol>
     <input type="submit" value="Submit Answer!">
     <input type="hidden" name="correctDef" value="<%= correctDef %>">
     <input type="hidden" name="totalQuestions" value="<%= questionCount %>">
     <input type="hidden" name="totalCorrect" value="<%= score %>">
     </form>
</body>
</html>